Repository jannekbuengener/Claire_de_Binare: changes, and which pre-commit hooks are due for each by the changed paths.
All: emoji-filter, emoji-config-validator

.pre-commit-config.yaml:

# Pre-commit Hook Configuration f√ºr Emoji-Filter
repos:
  - repo: local
    hooks:
      - id: emoji-filter
        name: üö´ Emoji Filter
        entry: python .github/scripts/advanced-emoji-filter.py
        args: [--config, .github/emoji-config.yaml, --path, .]
        language: python
        additional_dependencies: [regex, emoji, pyyaml]
        files: \.(py|js|ts|jsx|tsx|java|cpp|c|cs|php|rb|go|rs)$
        exclude: ^(node_modules/|\.git/|__pycache__/|build/|dist/)
        
      - id: emoji-config-validator
        name: ‚öôÔ∏è Emoji Config Validator
        entry: python
        args: [-c, "
import yaml; 
import sys;
try:
    with open('.github/emoji-config.yaml') as f: 
        config = yaml.safe_load(f);
    required = ['detection', 'whitelist', 'actions'];
    missing = [k for k in required if k not in config];
    if missing:
        print(f'‚ùå Missing config sections: {missing}');
        sys.exit(1);
    print('‚úÖ Emoji config valid');
except Exception as e:
    print(f'‚ùå Config error: {e}');
    sys.exit(1);
"]
        language: python
        additional_dependencies: [pyyaml]
        files: \.github/emoji-config\.yaml$
        always_run: false
        
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: .*\.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        
  # Optional: Weitere Code-Quality Hooks
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        args: [--line-length=88]
        
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=88, --extend-ignore=E203,W503]

  # Type Checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --no-strict-optional]
        additional_dependencies: [types-redis, types-requests]
        exclude: ^(tests/|\.venv/)

  # Conventional Commits
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.1.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--strict, feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

ci: fix gitleaks emoji e2e
  .github/emoji-config.yaml
  .github/workflows/e2e.yml
  .gitleaksignore
Due: emoji-config-validator

ci: relax gitleaks ignore regex
  .gitleaksignore
Due: none

ci: add gitleaks exceptions
  .gitleaksignore
Due: none

ci: use gitleaks config
  .github/workflows/ci.yaml
Due: none

ci: soften emoji detection
  .github/emoji-config.yaml
Due: emoji-config-validator

fix: keep emoji report markdown
  .github/scripts/advanced-emoji-filter.py
  .github/workflows/e2e-tests.yml
  .github/workflows/emoji-filter.yml
Due: emoji-filter

fix: write emoji reports with utf-8
  .github/scripts/advanced-emoji-filter.py
Due: emoji-filter

fix: format emoji report export
  .github/scripts/advanced-emoji-filter.py
Due: emoji-filter

fix: keep emoji report markdown
  .github/scripts/advanced-emoji-filter.py
  .github/workflows/emoji-filter.yml
Due: emoji-filter

Fix required CI jobs for PR 483
  .github/workflows/docs-hub-guard.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/gitleaks.yml
  infrastructure/compose/dev.yml
Due: none

Add CI defaults for e2e secrets
  .github/workflows/e2e-tests.yml
Due: none

Format emoji helper
  .github/scripts/advanced-emoji-filter.py
Due: emoji-filter

Restore dev compose secrets entrypoints
  infrastructure/compose/dev.yml
Due: none

Fix emoji security analysis quoting
  .github/workflows/emoji-filter.yml
Due: none

Fix emoji filter exports
  .github/scripts/advanced-emoji-filter.py
Due: emoji-filter

Format emoji filter
  .github/scripts/advanced-emoji-filter.py
Due: emoji-filter

Fix emoji security check quoting
  .github/workflows/emoji-filter.yml
Due: none

Install psycopg2 for e2e
  .github/workflows/e2e-tests.yml
Due: none

fix(ci): add pytest-cov and emoji permissions
  .github/workflows/e2e-tests.yml
  .github/workflows/emoji-filter.yml
Due: none

ci: configure emoji filter exclusions
  .github/emoji-config.yaml
Due: emoji-config-validator

ci: make emoji filter lenient
  .github/emoji-config.yaml
Due: emoji-config-validator

ci: fix emoji config formatting
  .github/emoji-config.yaml
Due: emoji-config-validator

ci: enable emoji report summary
  .github/emoji-config.yaml
Due: emoji-config-validator

ci: guard emoji comments against permission errors
  .github/workflows/emoji-filter.yml
Due: none

ci: guard pr comment helper
  .github/workflows/emoji-filter.yml
Due: none

ci: define helper in pr comment script
  .github/workflows/emoji-filter.yml
Due: none

ci: inline helper for pr comment script
  .github/workflows/emoji-filter.yml
Due: none

ci: use docker compose in e2e cleanup
  .github/workflows/e2e-tests.yml
Due: none

fix: start full stack in e2e smoke workflow
  .github/workflows/e2e.yml
Due: none

fix: run signal service as module
  services/signal/Dockerfile
Due: none

fix: run signal module via compose entrypoint
  infrastructure/compose/dev.yml
Due: none

fix: keep ws entrypoint and run signal module
  infrastructure/compose/dev.yml
Due: none

fix: install psycopg2 in e2e workflow
  .github/workflows/e2e.yml
Due: none

fix: install pytest-cov for e2e workflow
  .github/workflows/e2e.yml
Due: none

fix: live executor for MEXC trading (#171) (#483)
  .github/emoji-config.yaml
  .github/scripts/advanced-emoji-filter.py
  .github/workflows/ci.yaml
  .github/workflows/docker-publish.yml
  .github/workflows/docs-hub-guard.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/e2e.yml
  .github/workflows/emoji-filter.yml
  .github/workflows/gitleaks.yml
  .github/workflows/performance-monitor.yml
  .github/workflows/security-scan.yml
  .gitignore
  .gitleaksignore
  gitleaks.toml
  infrastructure/compose/base.yml
  infrastructure/compose/dev.yml
  pytest.ini
  scripts/check_core_duplicates.py
  services/execution/service.py
  services/signal/Dockerfile
Due: emoji-filter, emoji-config-validator

test(execution): add stats pipeline coverage
  tests/integration/test_execution_pipeline.py
  tests/unit/execution/test_service_stats.py
Due: emoji-filter

feat(validation): add 72h collector skeleton (#172)
  services/validation/collectors.py
  services/validation/pipeline.py
  tests/unit/validation/test_collectors.py
Due: emoji-filter

feat(validation): real-read collectors (db+redis) (#172)
  services/validation/collectors.py
  tests/unit/validation/test_collectors.py
Due: emoji-filter

feat(validation): add order aggregator pure function (#172)
  services/validation/aggregator.py
  tests/unit/validation/test_aggregator.py
Due: emoji-filter
