Repository jannekbuengener/Claire_de_Binare: changes, and which pre-commit hooks are due for each by the changed paths.
All: emoji-filter, emoji-config-validator

emoji-filter:
  name: üö´ Emoji Filter
  entry: python .github/scripts/advanced-emoji-filter.py
  args:
  - --config
  - .github/emoji-config.yaml
  - --path
  - .
  language: python
  additional_dependencies:
  - regex
  - emoji
  - pyyaml

emoji-config-validator:
  name: ‚öôÔ∏è Emoji Config Validator
  entry: python
  args:
  - -c
  ...

feat(ci): add workflow_dispatch to scheduled workflows (#401 #403)
  .github/workflows/performance-monitor.yml
  .github/workflows/stale.yml
Due: none

Add contract validation pre-commit hook
  tools/README.md
  tools/hooks/pre-commit.sh
  tools/install_hooks.ps1
Due: none

docs: consolidate tools README
  tools/README.md
Due: none

fix(monitoring): correct Flask Response for /metrics endpoint in cdb_ws
  services/ws/service.py
Due: emoji-filter

feat(ci): re-enable core-guard job (#415)
  .github/workflows/core-guard.yml
  docs/ci/ci_checks.md
  tests/unit/scripts/test_check_core_duplicates.py
Due: emoji-filter

feat(e2e): add deterministic E2E test path with smoke pipeline
  .github/workflows/e2e.yml
  infrastructure/scripts/run_e2e.ps1
  tests/e2e/README.md
  tests/e2e/__init__.py
  tests/e2e/fixtures/market_data.json
  tests/e2e/test_smoke_pipeline.py
Due: emoji-filter

feat(redis): add centralized payload sanitization utility
  core/utils/redis_payload.py
  services/signal/service.py
  services/ws/service.py
  tests/unit/utils/__init__.py
  tests/unit/utils/test_redis_payload.py
Due: emoji-filter

Use redis payload sanitizer for XADD publishers
  services/allocation/service.py
  services/execution/service.py
  services/regime/service.py
  services/risk/service.py
Due: emoji-filter

feat(monitoring): enable Alertmanager service (#352)
  infrastructure/compose/logging.yml
Due: none

feat(contracts): add contract validation CLI tool (#406)
  tools/validate_contract.py
Due: emoji-filter

fix(contracts): enforce canonical market_data/signals
  services/signal/models.py
  services/signal/service.py
  services/ws/mexc_v3_client.py
  tests/unit/contracts/test_contracts.py
Due: emoji-filter

feat(ci): add CI health check monitoring script (#405)
  tools/check_ci_health.ps1
Due: none

feat(contracts): add canonical message contracts for market_data and signals
  .github/workflows/contracts.yml
  docs/contracts/MIGRATION.md
  docs/contracts/README.md
  docs/contracts/examples/market_data_invalid.json
  docs/contracts/examples/market_data_valid.json
  docs/contracts/examples/signal_invalid.json
  docs/contracts/examples/signal_valid.json
  docs/contracts/market_data.schema.json
  docs/contracts/signal.schema.json
  requirements-dev.txt
  tests/unit/contracts/__init__.py
  tests/unit/contracts/test_contracts.py
Due: emoji-filter

feat(docker): add Docker stack health verification script (#407)
  tools/verify_stack.ps1
Due: none

fix(e2e): align deterministic smoke test for CI
  .github/workflows/e2e-tests.yml
  tests/e2e/README.md
  tests/e2e/test_smoke_pipeline.py
Due: emoji-filter

fix(risk): align balance config name (fallback_balance → test_balance)
  services/risk/service.py
Due: emoji-filter

Refactor Trivy workflow for clarity and updates
  .github/workflows/trivy.yml
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

fix(ci): pin 27 GitHub Actions workflows to commit SHAs
  .github/workflows/auto-label.yml
  .github/workflows/branch-policy.yml
  .github/workflows/bulk-issue-labeling.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/comprehensive-issue-labeling.yml
  .github/workflows/contracts.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/core-guard.yml
  .github/workflows/delivery-gate.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs-hub-guard.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/e2e.yml
  .github/workflows/emoji-bot.yml
  .github/workflows/emoji-filter.yml
  .github/workflows/gitleaks.yml
  .github/workflows/issue-governance.yml
  .github/workflows/label-bootstrap.yml
  .github/workflows/milestone-assignment.yml
  .github/workflows/opencode.yml
  .github/workflows/performance-monitor.yml
  .github/workflows/security-scan.yml
  .github/workflows/smart-insights.yml
  .github/workflows/stale.yml
  .github/workflows/sync-labels.yml
  .github/workflows/trivy.yml
Due: none

chore: move verlosung tests/tools into working repo (Slice C) (#435)
  scripts/verlosung/gh-audit-milestones.ps1
  scripts/verlosung/run_tests.ps1
  scripts/verlosung/validate_setup.ps1
  tests/integration/verlosung/test_redis_postgres_integration.py
  tests/integration/verlosung/test_risk_engine_integration.py
  tests/performance/verlosung/test_analytics_performance.py
  tests/performance/verlosung/test_full_system_stress.py
  tests/smoke/verlosung/test_compose_smoke.py
  tests/smoke/verlosung/test_smoke_repo.py
  tests/unit/verlosung/test_backup_recovery.py
  tests/unit/verlosung/test_chaos_resilience.py
  tests/unit/verlosung/test_cli_tools.py
  tests/unit/verlosung/test_docker_compose_full_stack.py
  tests/unit/verlosung/test_docker_lifecycle.py
  tests/unit/verlosung/test_event_flow_pipeline.py
  tests/unit/verlosung/test_event_pipeline.py
  tests/unit/verlosung/test_execution_simulator.py
  tests/unit/verlosung/test_mexc_perpetuals.py
  tests/unit/verlosung/test_mexc_ws.py
  tests/unit/verlosung/test_mock_executor.py
  tests/unit/verlosung/test_portfolio_manager.py
  tests/unit/verlosung/test_position_sizing.py
  tests/unit/verlosung/test_risk_engine_core.py
  tests/unit/verlosung/test_risk_engine_edge_cases.py
  tools/experiments/verlosung/mexc_top5_ws.py
  tools/misc/verlosung/__init__.py
  tools/misc/verlosung/test_compose_smoke.py.skip
  tools/misc/verlosung/test_events.json
  tools/misc/verlosung/test_smoke_repo.py.skip
  tools/misc/verlosung/validate_persistence.py
Due: emoji-filter

chore: consolidate GitHub ops pack from verlosung (Slice B) (#434)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/issue-governance.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/workflows/docker-publish.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  .github/workflows/issue-governance.yml
  core/auth.py
  core/indicators/volatility.py
  core/safety/kill_switch.py
  core/secrets.py
  pytest.ini
  scripts/check_core_duplicates.py
  services/execution/mexc_client.py
  services/risk/service.py
  services/signal/service.py
  tests/conftest.py
  tests/e2e/test_smoke_pipeline.py
  tests/integration/test_mexc_testnet.py
  tests/unit/scripts/test_check_core_duplicates.py
  tools/replay/replay.py
Due: emoji-filter

fix(tests): adjust TOTAL_MIN_PASS threshold to 254 (Issue #430)
  tests/conftest.py
Due: emoji-filter

feat(monitoring): add Grafana Soak Test dashboard for 72h monitoring
  infrastructure/monitoring/grafana/dashboards/claire_soak_test_v1.json
Due: none

feat(scripts): add automated Soak Test monitoring script
  infrastructure/scripts/soak_monitor.sh
Due: none

fix(ci): pin all actions in ci.yaml to commit SHAs
  .github/workflows/ci.yaml
Due: none

feat(monitoring): add Soak Test alert rules for Zero Restart Policy
  infrastructure/monitoring/alerts.yml
Due: none

docs(operations): add comprehensive 72h Soak Test Runbook
  docs/operations/72H_SOAK_TEST_RUNBOOK.md
Due: none

fix(e2e): correct event type for execution service (MARKET → order)
  tests/e2e/test_paper_trading_p0.py
Due: emoji-filter

fix(tests): unblock CI test collection and fix guardrail test
  pytest.ini
  tests/unit/test_clock.py
  tools/experiments/verlosung/mexc_top5_ws.py
Due: emoji-filter

docs: harmonize SERVICE_CATALOG.md path references (#446)
  infrastructure/scripts/stack_verify.ps1
  knowledge/governance/SERVICE_CATALOG.md
Due: none

feat: validation scaffold for 72h window (#172) (#484)
  infrastructure/compose/dev.yml
  services/risk/Dockerfile
  services/signal/Dockerfile
  services/validation/aggregator.py
  services/validation/collectors.py
  services/validation/pipeline.py
  tests/fixtures/db_fixtures.py
  tests/integration/test_execution_pipeline.py
  tests/integration/validation/test_pipeline_db.py
  tests/unit/execution/test_service_stats.py
  tests/unit/validation/test_aggregator.py
  tests/unit/validation/test_collectors.py
  tests/unit/validation/test_pipeline.py
Due: emoji-filter

fix: persist validation db for gate (#172) (#485)
  infrastructure/compose/base.yml
  infrastructure/compose/dev.yml
  infrastructure/compose/prod.yml
  services/risk/Dockerfile
Due: none

fix: live executor for MEXC trading (#171) (#483)
  .github/emoji-config.yaml
  .github/scripts/advanced-emoji-filter.py
  .github/workflows/ci.yaml
  .github/workflows/docker-publish.yml
  .github/workflows/docs-hub-guard.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/e2e.yml
  .github/workflows/emoji-filter.yml
  .github/workflows/gitleaks.yml
  .github/workflows/performance-monitor.yml
  .github/workflows/security-scan.yml
  .gitignore
  .gitleaksignore
  gitleaks.toml
  infrastructure/compose/base.yml
  infrastructure/compose/dev.yml
  pytest.ini
  scripts/check_core_duplicates.py
  services/execution/service.py
  services/signal/Dockerfile
Due: emoji-filter, emoji-config-validator

feat: validation runner + gate evaluator (#172) (#486)
  services/risk/live_trading_gate.py
  services/risk/real_validation_fetcher.py
  services/validation/gate_evaluator.py
  services/validation/runner.py
  tests/unit/validation/test_gate_evaluator.py
Due: emoji-filter

docs(readme): update stats - 200/314 issues closed (63.7%) - Stand 2026-01-05
  README.md
Due: none

chore(ci): scope ruff to services/tests changes
  .github/workflows/ci.yaml
Due: none

chore(ci): ignore worktrees backup metadata
  .gitignore
Due: none

Potential fix for code scanning alert no. 1818: Clear-text logging of sensitive information
  core/secrets.py
Due: emoji-filter

Path conditions:
  emoji-filter: any of: \.(py|js|ts|jsx|tsx|java|cpp|c|cs|php|rb|go|rs)$, but not: ^(node_modules/|\.git/|__pycache__/|build/|dist/)
  emoji-config-validator: any of: \.github/emoji-config\.yaml$
